<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imaginabit.yonodesperdicion">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="com.imaginabit.yonodesperdicion.ads.provider.READWRITE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.imaginabit.yonodesperdicion.ads.provider.READWRITE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <!-- for use GCM push -->
    <permission
        android:name="com.imaginabit.yonodesperdicion.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.imaginabit.yonodesperdicion.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- android:hardwareAccelerated="false" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- last key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
            See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_brick_notif" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="yonodesperdicio.org"
                    android:pathPattern="/messages/" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="OPEN_ACTIVITY_1" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.CreateUserActivity"
            android:label="Crea tu cuenta"
            android:theme="@style/AppTheme.CreateUser"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.LoginUserActivity"
            android:label="Inicia sesión"
            android:theme="@style/AppTheme.CreateUser"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.LoginPanelActivity"
            android:theme="@style/AppTheme.CreateUser" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settigns"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AdDetailActivity"
            android:label="Anuncio Titulo"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="yonodesperdicio.org"
                    android:pathPattern="/ad/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label=""
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AdCreateActivity"
            android:label="Nuevo Anuncio"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.MoreInfoActivity"
            android:label="Mas Información"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.GoogleSignInActivity"
            android:label="CONTINUAR CON GOOGLE"
            android:theme="@style/ThemeOverlay.NoTitleActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imaginabit.yonodesperdicion.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MessagesChatActivity"
            android:label="@string/title_activity_messages_chat"
            android:parentActivityName=".activities.MessagesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imaginabit.yonodesperdicion.activities.MessagesActivity" />
        </activity>

        <service
            android:name=".helpers.FetchAddressIntentService"
            android:exported="false" />

        <provider
            android:name=".data.AdsProvider"
            android:authorities="com.imaginabit.yonodesperdicion.ads.provider"
            android:exported="false"
            android:readPermission="com.imaginabit.yonodesperdicion.ads.provider.READWRITE"
            android:writePermission="com.imaginabit.yonodesperdicion.ads.provider.READWRITE" />

        <!--generic file provider para que vuelva a funcionar sacar imagenes de la camara -->
        <provider
            android:name="com.imaginabit.yonodesperdicion.GenericFileProvider"
            android:authorities="com.imaginabit.yonodesperdicion.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name=".activities.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imaginabit.yonodesperdicion.activities.MainActivity" />
        </activity>

        <service android:name=".gcm.MyFirebaseInstanceService"
            android:permission="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyFirebaseMessagingService"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="true"
            android:permission="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </service>
    </application>

</manifest>
